<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Ria</title>
</head>
<body>
    <header>
        <div>
            <h2><a href="home">RIA PreLab</a></h2>
        </div>
      <nav>
        <a routerLink="clientes" routerLinkActive="active-link">Clientes</a>
        <a routerLink="productos" routerLinkActive="active-link">Productos</a>
        <a routerLink="ventas" routerLinkActive="active-link">Ventas</a>
        
      </nav>
    </header>
</body>
</html>



<!-- <h1>Ejemplo de Angular Routing</h1>
<nav>
    <a routerLink="home" routerLinkActive="active-link">Home</a>
    <a routerLink="clientes" routerLinkActive="active-link">Clientes</a>
    <a routerLink="productos" routerLinkActive="active-link">Productos</a>
</nav>
-->