<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Ria</title>
</head>
<body>
    <header>
        <div>
            
           <a href="/home"> <img
                width="80"
                alt=" Logo"
                src="https://i.ibb.co/XW4F8bH/3414-F0-B2-1-B47-46-BC-ABA7-C11-F9321-A901.png"
              />
            </a>
        </div>
      <nav>
        <a routerLink="clientes" routerLinkActive="active-link">Clientes</a>
        <a routerLink="productos" routerLinkActive="active-link">Productos</a>
        <a routerLink="ventas" routerLinkActive="active-link">Ventas</a>
        
      </nav>
    </header>
</body>
</html>



<!-- <h1>Ejemplo de Angular Routing</h1>
<nav>
    <a routerLink="home" routerLinkActive="active-link">Home</a>
    <a routerLink="clientes" routerLinkActive="active-link">Clientes</a>
    <a routerLink="productos" routerLinkActive="active-link">Productos</a>
</nav>
-->