<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>RIA PreLab</title>
</head>
<body>
  <div>
  <header>
    <h2>RIA PreLab</h2>

<nav>
  <a href="" class="nav-link">Inicio</a>
  <a href="clientes.html" class="nav-link">Clientes</a>
  <a routerLink="/productos" routerLinkActive="active-link" class="nav-link">Productos</a>
  <a href="/ventas" class="nav-link">Ventas</a>
</nav>
</header>
</div>
</body>
</html>
