   
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Agregar Cliente</h4>
    <input class="controls" type="text" name="documento" [(ngModel)]="model.documento" id="documento" placeholder="Ingrese su Documento">
    <input class="controls" type="text" name="nombre" [(ngModel)]="model.nombre" id="nombre" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellido" [(ngModel)]="model.apellido" id="apellido" placeholder="Ingrese su Apellido">
    <input class="controls" type="date" name="fechaNac" [(ngModel)]="model.fechaNac" id="fechaNac" placeholder="Ingrese su Fecha de Nacimiento">
    <input class="controls" type="text" name="direccion" [(ngModel)]="model.direccion" id="direccion" placeholder="Ingrese su Direccion">
    <input class="controls" type="text" name="telefono" [(ngModel)]="model.telefono" id="telefono" placeholder="Ingrese su Telefono">
<div class="form-group">
<div class="col-sm-10">
  <button type="submit" class="btn btn-save" (click)="addCliente()">Agregar Cliente</button>

</div>

</div>
    
    <h4>-------------------------------------------------------------------------------------------------------------</h4>

    <div class="row">
      <div class="col-sm-8">
        <h2>Lista de Clientes: </h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Fecha de Nacimiento</th>
              <th>Direccion</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes; let i = index">
              <td>{{cliente.documento}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.fechaNac}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.telefono}}</td>
              <td>
                <a (click)="deleteCliente()" class="btn btn-delete">
                  Delete
                </a>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  


  </section>

</body>
</html>

















<!-- <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">
        {{title}}
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close">
            &times;
        </a>
        mensaje aqui
      </div>
    </div>
  </div>
</div>
<img
    width="170"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />


  


<!DOCTYPE html>
<html>
<head>
  <title>RIA PreLab</title>
</head>
<body>
<form>
  <table>
    <tr>
      <td>
        Documento 
      </td>
      <td>
        <input type="text" documento=""> 
      </td>
    </tr>
    <tr>
      <td>
        Nombre 
      </td>
      <td>
        <input type="text" nombre=""> 
      </td>
    </tr>
    <tr>
      <td>
        Apellido 
      </td>
      <td>
        <input type="text" apellido=""> 
      </td>
    </tr>
    <tr>
      <td>
        Fecha Nacimiento   
      </td>
      <td>
        <input type="text" fechaNac=""> 
      </td>
    </tr>
    <tr>
      <td>
         Direccion
      </td>
      <td>
        <input type="text" direccion=""> 
      </td>
    </tr>
    <tr>
      <td>
        Telefono  
      </td>
      <td>
        <input type="text" telefono=""> 
      </td>
    </tr>
    <tr>
      <td>
        <input type="Submit" value="Submit" name=""> 
      </td>
    </tr>
  </table>
</form>

</body>

</html>
-->